*.class
*.lst
*.log
*.lck
*.log.*
# *.txt


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

dist/
bin/
target/



.metadata
.settings

*.ttf
*.otf
*.uf2
##########################################
.settings
CMakeFiles
generated
pico-sdk
pioasm

dis
elf2uf2

Makefile
cmake_install.cmake
*.elf
*.map
*.lst

#*.txt
#!prompt_ai.txt
#!src/CMakeLists.txt

#*.uf2


_deps
picotool
pioasm-install

*.ninja*.*
build.ninja
build_*


*.dis
*.hex
*.bin

makefile

CMakeCache.txt
build
*secret*.*

